*{
    margin: 0;
    padding: 0;
    cursor: crosshair;
}

a{  
    text-decoration: none;
    font-size: 36pt;
}

a:hover{
    font-style: italic;
}

a::selection{
    background-color: black;
    color: white;
}

.words1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.democrat{
    color: blue;
    margin-left: 10pt;
}


.republican{
    color: red;
}

#genocideWeb, #warWeb{
    display: none;
    width: 30vw;
    height: 50vh;
    position: absolute;
    top: 20vh;
}

#genocideWeb{
    border: 2px solid blue;
    left: 60vw;
}

#warWeb{
    border: 2px solid red;
    left: 10vw;
}