body {
    margin: 0;
    font-family: 'change';
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
}

button {
    margin-bottom: 40px;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    background-color: white;
    font-family: 'change';
    font-weight: 400;
}

button:hover {
    font-style: italic;
}

button.strikethrough {
    text-decoration: line-through;
}

.topic {
    transition: none;
}
/* Italicize when hovering */
.topic:hover {
    font-style: italic;
}

/* Style for active topic title */
.topic.active {
    font-style: italic;
}

#mainContainer {
    width: 80vw;
    height: 70vh;
    background: #fff;
    /*border: 2px solid #ccc;*/
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.word {
    position: absolute;
    padding: 10px;
    /*background: #ddd;*/
    /*border-radius: 5px;*/
    font-size: 32px;
    text-align: center;
    transition: all 0.5s ease;
    user-select: none;
    color: white;
}


.word:hover {
    cursor: grab;
}

.left:hover {
    color: blue;
    background-color: white;
}

.center:hover {
    color: rgb(149, 0, 191);
    background-color: white;

}

.right:hover {
    color: red;
    background-color: white;

}

.left { 
    background-color: blue; 
    color: white;
}
.center { 
    background-color: rgb(149, 0, 191);
    color: white;
}
.right { 
    background-color: red; 
    color: white;
}

/* Hide the topic column initially */
.topic-column .topic {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 32px;
    color: black;
    text-align: center;
    transition: all 0.5s ease;
    user-select: none;
}

/* Position topics in a fourth column when visible */
.topic-column .topic {
    display: block;
    left: 5%;
}

/* Blackout background */
#blackBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    display: none;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack elements vertically */
    padding: 20px;
    box-sizing: border-box;
}

/* Style for the isolated word */
.word.isolated {
    position: relative;
    font-size: 40px;
    text-align: center;
    color: white;
    background: none;
    padding: 20px;
    z-index: 10000;
    max-width: 80%; /* Limit width to prevent overflow */
    word-wrap: break-word; /* Handle long words */
}

/* Style for the nested content (iframe or img) */
.nested-content {
    display: none;
    margin-top: 20px;
    width: 800px;
    max-width: 800px;
    height: 600px;
    border: none;
}

.word.isolated .nested-content {
    display: block; /* Show when isolated */
}
